<!--
  Generated template for the MalaProntaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Minha Mala</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <div>
    <div class="titulo">
      <h1 style="font-family: 'Arial', 'Helvetica', 'sans-serif'">MALA PRONTA</h1>
    </div>
    <br>
   
  </div>
  <div class="row">
    <div class="col-md-2">
      <div (click) ="itemColocadoNaMala(this.ativoCamiseta)" *ngIf="this.qtdCamisetas > 0" class="col-md-1">
        <div id="camiseta">
          <h1  [ngStyle]="{'color': this.ativoCamiseta === true ? 'green' : 'white' }" >{{ this.qtdCamisetas}}</h1>
          <img style="color:green" [ngStyle]="{'color': this.ativoCamiseta === true ? 'green' : 'white' }" src="assets/imgs/shirt.png" height="60" width="60" item-start>
          <br>
        </div>
      </div>
      <br>
      <div *ngIf="this.qtdBlusas" class="col-md-1">
        <div id="blusa">
          <h1>{{ this.qtdBlusas}}</h1>
          <img src="assets/imgs/sweatshirt.png" height="60" width="60" item-start>
          <br>
        </div>
      </div>
      <div *ngIf="this.qtdCalcas" class="col-md-1">
        <div id="calca">
          <h1>{{ this.qtdCalcas}}</h1>
          <img src="assets/imgs/jeans.png" height="60" width="60" item-start>
          <br>
        </div>
      </div>
      <div *ngIf="this.qtdBermudas" class="col-md-1">
        <div id="bermuda">
          <h1>{{ this.qtdBermudas}}</h1>
          <img src="assets/imgs/shorts.png" height="60" width="60" item-start>
          <br>
        </div>
      </div>
      <div *ngIf="this.qtdTenis" class="col-md-1">
        <div [ngClass]="{'green': this.qtdTenis} " id="tenis">
          <h1>{{ this.qtdTenis}}</h1>
          <img src="assets/imgs/shoes.png" height="60" width="60" item-start>
          <br>
        </div>
      </div>
    </div>
  </div>
</ion-content>